*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex;
    background:#ececec;
    height:100vh
   
}
p{
    font-family: 'Times New Roman', Times, serif,
    
}

.container{
    padding:40px 60px;
    background:#fff;
    display: flex;
    align-items: center;
    border:5px solid rgba(190, 190, 190, 0);
    box-shadow:0 0 15px rgba(100, 100, 100, 0.3);
    flex-direction:column;

}

input{
    padding: 10px 20px;
    width: 300;
    margin-bottom:20px;

}

button{
    padding:12px 20px;
    margin-bottom:20px;
    border:0;
    background:#485696;
    color:#fff;
    text-transform: uppercase;
    font-weight:700;
    letter-spacing: 2px;
}

#qr-image{
    display: none;
}

img{
    margin-bottom:20px
}